.blog {
  @include flex(column, initial, center);
  &__page {
    width: 100%;
    max-width: 720px;
  }
  &__image {
    width: 100%;
    height: 260px;
    overflow: hidden;
    // ensure image stays within container
    // margin: 1rem 0 1rem 0;
    // > div {
    @include flex(row, center, center);
    > span {
      position: unset !important;
    }
  }
  &__image-avatar {
    // width: 100%;
    // height: 260px;
    overflow: hidden;
    height: 40px;
    width: 40px;
    max-height: 40px;
    max-width: 40px;
    background-color: var(--bg-primary);
    border-radius: 50%;
    @include flex(row, center, center);
    
    > span {
      position: unset !important;
    }
  }
  &__img {
    // ***!important used to make Image tag images more flexible/responsive, please do not change! Ensure Image tag width and height are commented out and that layout = fill
    // width: 800px;
    object-fit: contain;
    // object-fit: none;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
    max-width: 800px !important;
    z-index: 50;
  }
  &__img-avatar {
    // ***!important used to make Image tag images more flexible/responsive, please do not change! Ensure Image tag width and height are commented out and that layout = fill
    // width: 800px;
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
    min-width: unset !important;
    max-width: 50px !important;
    border-radius: 50% !important;
  }
  &__container {
    z-index: 150;
    position: relative;
    max-width: 800px;
    width: 100%;
    background-color: var(--bg-panel);
    color: var(--color-text);
    padding: 2rem;
  }
  &__user-info {
    @include flex(row, flex-start, center);
    margin: 0.8rem 0 0.8rem 0;
  }
  &__author {
    padding: 0 0 0 2.4rem;
  }
  &__options {
    margin: 0.6rem 0;
  }
  &__content {
    margin: 1rem 0 0 0;
  }
  &__text {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 600;
  }
}
// ++++++++++++++++++++++++++++++++++++++++++++++++++
// ++++++++++++++++++++++++++++++++++++++++++++++++++
// ++++++++++++++++++++++++++++++++++++++++++++++++++
// ++++++++++++++++++++++++++++++++++++++++++++++++++
.blogForm {
  width: 100%;
  @include flex(row, flex-start, flex-start);
}