.landing {
  position: relative;
  width: 100vw;
  margin: 0 0 0 -12px;
  overflow-x: hidden;
  width: calc(100% + 24px);
  @include flex(column, center, center);
  padding: 0 1rem 0 1rem;
  @include viewport-size(mobile-phone-tiny) {
    word-break: break-all;
  }
  @include viewport-size(mobile-phone-lg) {
    width: calc(100% + 24px);
    overflow-x: hidden;
  }
  &__highlights {
    color: var(--color-text);
    margin: 0 0 4rem 0;
    .header {
      margin: 0 auto 8rem;
      text-align: center;
      word-break: break-word;
      @include viewport-size(mobile-phone-small) {
        word-wrap: break-word;
        padding: 0 4rem 0 4rem;
        font-size: 1.4rem;
      }
      @include viewport-size(mobile-phone-small-med) {
        font-size: 1.5rem;
      }
    }
  }
  &__blogs {
    color: var(--color-text);
    background-color: var(--bg-panel);
    clip-path: polygon(0 0, 100% 4%, 100% 100%, 0 96%);
    width: calc(100vw);
    word-break: break-word;
    padding: 3rem 1.4rem 3rem;
    @include viewport-size(mobile-phone-tiny) {
      padding: 3.4rem 1.8rem 3.8rem;
    }
    @include viewport-size(mobile-phone-small) {
      padding: 4rem 2rem 6rem;
    }
    @include viewport-size(mobile-phone-lg) {
      padding: 5rem 6rem 8rem;
    }
    @include viewport-size(mobile-tablet-med) {
      padding: 5rem 8rem 8rem;
    }
    .blog-image {
      padding: 0rem 0rem;
      h3 {
        padding: 1rem 0 0;
      }
    }
    .blog-sub-heading {
      padding: 1.4rem 0 0.8rem;
    }
  }
  &__testimonials {
    color: var(--color-text);
    text-align: center;
    margin: 6rem 0 11rem;
    .heading {
      margin-bottom: 3rem;
      word-break: break-word;
    }
    .testimonial {
      text-align: center;
      &-text {
        word-break: break-word;
        margin: auto;
        font-weight: 400;
        @include viewport-size(mobile-phone-small) {
          width: 300px;
          font-size: 1.3rem;
          padding: 0 2rem;
        }
        @include viewport-size(mobile-phone-small-med) {
          padding: 0 1rem; 
        }
        @include viewport-size(mobile-phone-med) {
          width: 500px;
          padding: initial;
        }
        @include viewport-size(mobile-tablet-med) {
          width: 500px;
        }
        @include viewport-size(mobile-tablet-large) {
          width: 500px;
        }
      }
      margin-bottom: 7rem;
    }
    .start {
      word-break: break-word;
      font-weight: 600;
      cursor: pointer;
    }
  }
}

.hero {
  background-image: url("./../../img/blogging2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: calc(100vw + 24px);
  padding: 24px 2rem 0 2rem;
  margin-bottom: 8rem;
  @include viewport-size(mobile-phone-tiny) {
    word-break: break-word;
  }
  @include viewport-size(mobile-phone-small) {
    @include flex(column, center, flex-start);
  }
  @include viewport-size(mobile-phone-med) {
    @include flex(column, center, flex-start);
  }
  @include viewport-size(mobile-tablet-med) {
    @include flex(row, space-between, flex-start);
  }
  &__main {
    @include flex(column, space-evenly, center);
    height: inherit;
    @include viewport-size(mobile-phone-small) {
      text-align: center;
      margin: 0 auto;
    }
  }
  &__heading {
    font-weight: 300;
    word-break: break-word;
    @include viewport-size(mobile-phone-small) {
      font-size: 28px;
      line-height: 40px;
    }
    @include viewport-size(mobile-phone-med) {
      font-size: 45px;
      line-height: 65px;
    }
    @include viewport-size(mobile-tablet-small) {
      font-size: 41px;
      line-height: 53px;
    }
    @include viewport-size(mobile-tablet-med) {
      font-size: 51px;
    }
    @include viewport-size(mobile-tablet-large) {
      font-size: 50px;
      line-height: 70px;
    }
    @include viewport-size(med) {
      font-size: 60px;
      line-height: 85px;
    }
    @include viewport-size(standard) {
      font-size: 75px;
      line-height: 100px;
    }
  }
  &__email {
    font-weight: 400;
    margin: 0 0 0.4rem;
  }
  &__sub-text {
    font-weight: 600;
    margin: 0.6rem 0 0.4rem;
    @include viewport-size(mobile-phone-small) {
      font-size: 17px;
      font-weight: 600;
    }
    @include viewport-size(mobile-phone-med) {
      font-size: 23px;
    }
    @include viewport-size(mobile-tablet-med) {
      margin: 0.6rem 0 0.8rem;
    }
    @include viewport-size(mobile-tablet-large) {
      font-size: 21px;
    }
    @include viewport-size(standard) {
      font-size: 26px;
    }
  }
  &__input {
    background: transparent !important;
    color: black !important;
    font-size: 1.1rem !important;
    border-radius: 8px !important;
    border: 2px solid var(--primary-typeface) !important;
    margin: 0 0 0.5rem;
  }
  &__sign-up {
    @include flex(row, flex-start, center);
    margin: 1rem 0 0 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    @include viewport-size(mobile-phone-small) {
      font-size: 1rem;
    }
    @include viewport-size(mobile-phone-med) {
      font-size: 1.2rem;
    }
    @include viewport-size(mobile-tablet-med) {
      font-size: 1.2rem;
    }
    .innerIcon {
      margin-left: 1rem;
    }
  }
  &__graphic-wrapper {
    width: 100%;
  }
}

.grid {
  row-gap: 4rem;
  flex-wrap: wrap;
  display: flex;
  @include viewport-size(mobile-phone-small) {
    @include flex(column, center, center);
  }
  @include viewport-size(mobile-phone-med) {
    @include flex(column, center, center);
  }
  @include viewport-size(mobile-phone-lg-x) {
    @include flex(row, space-around, initial);
    flex-wrap: wrap;
  }
  @include viewport-size(mobile-phone-lg-xx) {
    @include flex(row, space-around, initial);
    flex-wrap: wrap;
  }
  @include viewport-size(mobile-tablet-med) {
    @include flex(row, space-around, initial);
    flex-wrap: wrap;
  }
  @include viewport-size(mobile-tablet-large) {
    @include flex(row, space-around, initial);
    flex-wrap: wrap;
  }
  @include viewport-size(med) {
    @include grid(repeat(auto-fill, minmax(min-content, 435px)),
      none,
      center,
      initial);
  }
  @include viewport-size(standard) {
    @include grid(repeat(auto-fill, minmax(min-content, 625px)),
      none,
      space-between,
      initial);
  }
  &__item {
    @include viewport-size(mobile-phone-small) {
      align-items: center;
      text-align: center;
      width: 400px;
    }
    @include viewport-size(mobile-phone-med) {
      align-items: center;
      text-align: center;
      padding: 0 1rem;
    }
    @include viewport-size(mobile-phone-lg-x) {
      padding: initial;
      max-width: 288px;
    }
    @include viewport-size(mobile-phone-lg-xx) {
      max-width: 328px;
    }
    @include viewport-size(mobile-tablet-large) {
      width: 400px;
    }
    @include viewport-size(med) {
      width: 400px;
    }
    @include viewport-size(standard) {
      width: 460px;
    }
  }
  &__item-icon {
    text-align: center;
    width: 100%;
  }
  &__item-heading {
    word-break: break-word;
  }
  &__item-text {
    word-break: break-word;
    @include viewport-size(mobile-phone-small) {
      padding: 0 7rem 0 7rem;
    }
    @include viewport-size(mobile-phone-small-med) {
      padding: 0 3rem 0 3rem;
    }
    @include viewport-size(mobile-phone-med) {
      padding: initial;
    }
  }
}