.login {
  @include flex(row, center, center);
  margin-top:5rem;
  &__body {
    height: 100vh;
    overflow: hidden;
  }
  &__screen {
    background-color: var(--bg-panel);
    color: var(--color-text);
    padding:30px;
    border-radius: 5px;
    box-shadow: 6px 7px 10px 1px rgba(38, 38, 38, 0.35);
  }
  &__sign-top {
    @include flex(row, space-around, center);
  }
  &__sign-hr {
    width: 50%;
    height: 5px;
    margin: .5rem 0 0 0;
    background-color: #000;
    transition: .3s;
    transform: translateX(100%);
    border-radius: 16px;
    border: none;
    &.login-hr {
      transition: 0.3s ease;
      transform: translateX(0%);
    }
    &.register-hr {
      transform: translateX(100%);
    }
  }
  &__head {
    cursor: pointer;
    transition: .3s;
    pointer-events: none;
    padding-left: 1.2rem;
    >h3 {
      pointer-events: none;
    }
    &:hover {
      opacity: 0.5;
    }
  }
  &__sign-up-head {
    cursor: pointer;
    transition: .3s;
    pointer-events: none;
    padding-right: .6rem;
    padding-left: 3rem;
    >h3 {
      pointer-events: none;
    }
    &:hover {
      opacity: 0.5;
    }
  }
  &__app-title {
    margin: 16px 0 12px 0;
    text-align:center;
  }
  &__registration{
    margin:auto;
  }
  &__form {
    text-align: center;
    display:block;
  }
  &__link {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media (min-width: 456px) {
  .login {
    &__body {
      width: initial;
    }
  }
}