.profile {
  width: 100%;
  position: relative;
  @include flex(column, flex-start, flex-start);
  background: var(--bg-panel);
  padding: 0 8px 8px;
  margin: 1rem 0 0;
  border-radius: 12px;
  &__center {
    width: 100%;
    padding: 1rem 0rem 0;
    @include flex(column, flex-start, center);
  }
  &__container {
    width: 100%;
    position: relative;
  }
  &__center-content {
    z-index: 110;
    position: relative;
  }
  &__content {
    @include flex(column, initial, flex-start);
    width: 500px;
    margin: auto;
    background: var(--bg-quatenary);
    border-radius: 20px;
    padding: 0rem 3.5rem;
    padding-bottom: 2rem;
  }
  &__user-avatar {
    position: relative;
    margin: 0 auto;
    cursor: pointer;
    height: auto;
    width: auto;
    max-height: 300px;
    max-width: 300px;
    overflow: hidden;
    background-color: var(--bg-primary);
    border-radius: 50%;
    @include flex(row, center, center);
    
    >span {
      position: unset !important;
    }
  }
  &__avatar-img {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
    min-width: unset !important;
    border-radius: 50% !important;
    z-index: 50;
  }
  &__editProfileContent {
    text-align: center;
    align-self: flex-end;
    margin: 0 auto 8px;
  }
  // ++++++++++++++++++++++++++++++++++++++
  // PROFILE BACKGRND / AVATAR UPLOAD
  // ++++++++++++++++++++++++++++++++++++++
  &__image-show {
    @include flex(column, initial, center);
    div {
      margin: 0 0 0.6rem 0;
    }
  }
  // &__upload-image {
    // display: block;
    // position: relative;
  // }
  &__upload-img {
    width: 100%;
  }
  // ++++++++++++++++++++++++++++++++++++++
  &__socials-wrapper {
    margin: 1rem 0;
  }
  &__field-label {
    color: var(--color-text);
  }
  &__field-value {
    color: var(--color-text);
  }
  &__socials {
    text-align: center;
    a {
      margin: 0 6px 0 0;
      color: var(--color-text);
    }
  }
  &__option-btns {
    @include flex(column, initial, center);
    margin: 1rem 0;
  }
  &__form-wrapper {
    padding: 2rem 0.5rem;
  }
  &__form {
    width: auto;
  }
  &__form-text {
    margin: 0 0 6px 0;
  }
  &__field {
    word-wrap: break-word;
  }
  &__delete {
    margin: 1.2rem 0 1.13rem;
    text-align: center;
  }
}

@media (min-width: 340px) {
  .profile {
    &__form-wrapper {
      padding: 2rem;
    }
  }
}

@media (min-width: 400px) {
  .profile {
    &__image-show {
      @include flex(row, space-evenly, center);
    }
  }
}

@media (min-width: 450px) {
  .profile {
    &__option-btns {
      @include flex(row, space-between, center);
    }
  }
}

@media (min-width: 480px) {
  .profile {
    &__option-btns {
      @include flex(row, space-evenly, center);
    }
  }
}

@media (min-width: 620px) {
  .profile {
    width: initial;
    margin: 14rem 6rem 0;
    &__center-content {
      padding: 6rem 0 0;
    }
    &__user-avatar {
      height: 100%;
      width: auto;
      position: absolute;
      top: -13rem;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
    }
    &__image-show {
      @include flex(column, space-evenly, center);
    }
  }
}

@media (min-width: 656px) {
  .profile {
    &__image-show {
      @include flex(row, space-evenly, center);
    }
  }
}