// :root.light {
.theme-light {
  // navbar, links
  --color-logo: rgb(245, 238, 238);
  --color-icon: rgb(67, 67, 67);
  --color-tagbox: rgb(181, 181, 181);
  --color-header: rgb(100, 100, 100);
  --color-text: rgb(67, 67, 67);
  --color-form-label: rgb(175, 150, 250);
  
  --color-link: rgb(80, 102, 144);
  --color-navbar-text: rgb(67, 67, 67);
  --color-navbar-active: rgb(0, 0, 0);
  --color-navbar-primary: rgb(197, 197, 214);
  --color-navbar: rgb(197, 197, 214);
  --color-navbar-a: rgba(211, 214, 222, 1);
  --color-navbar-glass: rgba(211, 214, 222, 0.6);

  
  // Border Color
  --primary-border: #161c2d;

  // Buttons
  --primary-btn-bg: rgb(22, 28, 45);
  --secondary-btn-bg: #c56a2d;
  --tetiary-btn-hover: #2b50c7;
  --color-navbar-2: rgba(138, 119, 197, 0.6);
  --color-btn-text: rgb(245, 238, 238);
  --color-btn-text-hover: rgb(175, 150, 250);
  --color-btn-hover: rgb(255, 249, 249);
  --color-btn-secondary-text: rgb(51, 94, 234);
  --color-btn-secondary-border: rgb(51, 94, 234);
  --color-btn-secondary-hover: rgb(211, 214, 222);
  // Backgrounds

  // Primary Backgrounds
  --primary-color: rgb(51, 94, 234);
  --primary-color-a: rgba(51, 94, 234, 0.8);
  --primary-color-a-6: rgba(51, 94, 234, 0.6);
  --primary-color-a-4: rgba(51, 94, 234, 0.4);
  --primary-color-a-2: rgba(51, 94, 234, 0.2);
  --bg-primary: rgb(222, 225, 238);
  --bg-secondary: rgba(231, 231, 231, 0.259);
  --bg-quatenary: rgb(255, 255, 255);
  --bg-panel: rgb(197, 197, 214);

  // Typography Color
  --primary-typeface: rgb(22, 28, 45);
  --secondary-typeface: rgb(57, 57, 57);
  --tetiary-Typeface: rgb(134, 154, 184);
  --quatenary-Typeface: rgb(255, 255, 255);

  // Alerts / Tags
  --overlay-text: rgb(245, 238, 238);
  --alert-neutral: #f4f4f4;
  --alert-danger: #dc3545;
  --alert-success: #28a745;
  --danger-color: #dc3545;

  // OTHER
  --fixed-header-height: 4.5rem;
}

.theme-dark {
  // navbar, links
  --color-logo: rgb(245, 238, 238);
  --color-icon: rgb(181, 181, 181);
  --color-tagbox: rgb(181, 181, 181);
  --color-header: rgb(100, 100, 100);
  --color-text: rgb(181, 181, 181);
  --color-form-label: rgb(51, 51, 51);

  --color-link: rgb(80, 102, 144);
  --color-navbar-text: rgb(181, 181, 181);
  --color-navbar-active: rgb(255, 255, 255);
  --color-navbar-primary: rgb(67, 67, 67);
  --color-navbar: rgb(67, 67, 67);
  --color-navbar-a: rgba(51, 51, 51, 1);
  --color-navbar-glass: rgba(51, 51, 51, 0.6);
  --color-navbar-2: rgba(138, 119, 197, 0.6);

  
  // Border Color
  --primary-border: #161c2d;

  // Buttons
  --primary-btn-bg: rgb(22, 28, 45);
  --secondary-btn-bg: #c56a2d;
  --tetiary-btn-hover: #2b50c7;
  --color-btn-text: rgb(245, 238, 238);
  --color-btn-text-hover: rgb(175, 150, 250);
  --color-btn-hover: rgb(255, 249, 249);
  --color-btn-secondary-text: rgb(51, 94, 234);
  --color-btn-secondary-border: rgb(51, 94, 234);
  --color-btn-secondary-hover: rgb(175, 150, 250);
  // Backgrounds

  // Primary Backgrounds
  --primary-color: rgb(51, 94, 234);
  --primary-color-a: rgba(51, 94, 234, 0.8);
  --primary-color-a-6: rgba(51, 94, 234, 0.6);
  --primary-color-a-4: rgba(51, 94, 234, 0.4);
  --primary-color-a-2: rgba(51, 94, 234, 0.2);
  --bg-primary: rgb(51, 51, 51);
  --bg-secondary: rgba(231, 231, 231, 0.259);
  --bg-quatenary: rgb(255, 255, 255);
  --bg-panel: rgb(67, 67, 67);

  // Typography Color
  --primary-typeface: rgb(22, 28, 45);
  --secondary-typeface: rgb(57, 57, 57);
  --tetiary-Typeface: rgb(134, 154, 184);
  --quatenary-Typeface: rgb(255, 255, 255);

  // Alerts / Tags
  --overlay-text: rgb(245, 238, 238);
  --alert-neutral: #f4f4f4;
  --alert-danger: #dc3545;
  --alert-success: #28a745;
  --danger-color: #dc3545;

  // OTHER
  --fixed-header-height: 4.5rem;
}