.control-group{
  margin-bottom:12px;
  .login-field{
    width: 100%;
    text-align: left;
    background-color: var(--bg-primary);
    // background-color:#f5d8dd;
    color: var(--color-text);
    border: 1px solid #444;
    border-radius: 3px;
    font-size: 15px;
    font-weight:200;
    padding: 10px 0 10px .5rem;
    /* width:250px; */
    transition: .3s;
  }
  .login-field:focus{
    /* border: 1px solid #3498db; */
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #444;
    border-radius: 0;
    outline: none;    
  }
  &-gender{
    @include flex(row, space-evenly, initial);
    margin-bottom:10px;
    .genderInput{
      margin-top:5px;
    }
  }
  &-upload{
    display:block;
    margin: 0 0 0.75rem 0;
    input {
      max-width: 150px;
    }
  }
}

@media (min-width: 230px) {
  .control-group {
    &-upload {
      input {
        max-width: 170px;
        // max-width: 150px;
      }
    }
  }
}

@media (min-width: 260px) {
  .control-group {
    &-upload {
      input {
        max-width: 170px;
      }
    }
  }
}