.footer {
  font-size: 0.5rem;
  background: var(--bg-secondary);
  padding-top: 100px;
  height: 250px;
  z-index: 101;
  position: relative;
  margin: 1rem 0 0 0;
  &Main {
    text-align: center;
    padding: 0 1rem 0 1rem;
    margin: 0 auto;
    .creators {
      font-size: 0.8rem;
      font-style: italic;
    }
  }
}
@media (min-width: 620px) {
  .footer {
    padding: 100px 0 0 72px;
  }
}