.nav {
  height: 70px;
  background-color: var(--color-navbar);
  position: relative;
  position: sticky;
  top: 0;
  transition: background-color 0.5s;
  padding: 0 1rem 0 1rem;
  width: 100%;
  z-index: 500;
  &__container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    @include flex(row, space-between, center);
  }
  &__sub-container {
    width: 100%;
    @include flex(row, space-between, center);
    flex: 1;
    &.left {
      @include flex(row, flex-start, center);
    }
    &.right {
      @include flex(row, flex-end, center);
    }
  }
  &__content {
    cursor: pointer;
    color: var(--color-navbar-text);
    &.title {
      padding: 0 0 4px 0;
    }
    &.left {
      margin: 0 0 0 16px;
    }
    &.right {
      display: none;
      margin: 0 22px 0 0;
    }
  }
}

@media (min-width: 420px) {
  .nav {
    &__sub-container {
      flex: 1;
      &.left {
        @include flex(row, flex-start, center);
      }
      &.right {
        @include flex(row, flex-end, center);
      }
    }
    &__content {
      @include flex(row, space-between, center);
      &.right {
        display: initial;        
      }
    }
  }
}