#searchBarMagnifier {
  cursor: pointer;
  margin: 0 3px 1px 0;
}
#searchBarClose {
  cursor: pointer;
  transform: rotate(45deg);
  margin: 0 12px 0 0;
  border-radius: 20px;
  background-color: var(--color-navbar-primary);
  height: 22px;
  width: 22px;
}
.searchBar {
  position: relative;
  @include flex(row, flex-start, center);
  width: 40px;
  height: 40px;
  font-size: 1rem;
  border-radius: 25px;
  overflow: hidden;
  background-color: var(--color-navbar-primary);
  transition: all 0.5s ease-in-out;
  &:focus-within {
    @include flex(row, flex-start, center);
    width: 82vw;
    background-color: var(--bg-primary);
    position: absolute;
    top: 14px;
    right: 12px;
    left: 12px;
    .searchBar__search {
      background-color: var(--color-navbar-primary);
    }
    .searchBar__text-input {
      opacity: 1;
      z-index: initial;
      cursor: initial;
    }
    .searchBar__icon {
      color: var(--color-navbar-active);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
      &.focused {
        background-color: var(--primary-color);
      }
      &:hover, &:focus {
        outline: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.75)
      }
    }
    .searchBar__close {
      @include flex(row, flex-end, center);
    }
  }
  // &__form {
  //   pointer-events: none;
  // }
  &__search {
    background-color: var(---color-navbar-primary);
    color: var(---color-navbar-text);
    @include flex(row, center, center);
    border-radius: 25px;
    min-width: 34px;
    min-height: 34px;
    margin: 0 0 0 3px;
  }
  &__icon {
    transition: all 0.5s ease-in-out;
    border: none;
  }
  &__text-input {
    border: 0;
    padding: .25em 4em;
    outline: 0;
    z-index: 2;
    position: absolute;
    width: 100%;
    background: transparent;
    opacity: 0;
    color: var(--color-text);
    cursor: pointer;
  }
  &__close {
    width: 100%;
    display: none;
  }
}

@media(min-width: 280px) {
  .searchBar {
    &:focus-within {
      width: 70vw;
      left: 60px;
      right: 10px;
    }
  }
}
@media(min-width: 326px) {
  .searchBar {
    &:focus-within {
      width: auto;
      left: 66px;
    }
  }
}

@media(min-width: 640px) {
  .searchBar {
    &:focus-within {
      width: 248px;
      position: relative;
      top: unset;
      left: unset;
      right: unset;
      margin: 0 16px 0 0;
      max-width: 300px;
    }
  }
}

@media(min-width: 724px) {
  .searchBar {
    &:focus-within {
      width: 300px;
    }
  }
}