.trending {
  min-width: 200px;
  display: none;
  &__card {
    background-color: var(--bg-panel);
    min-width: 170px;
    max-width: 280px;
    margin: 1rem 0 0 0;
    border-radius: 6px;
    padding: 12px;
    color: var(--color-text);
  }
  &__intro {
    margin: 0.25rem 0 0.5rem 0;
    font-weight: 500;
  }
  &__item {
    padding: 8px 0px 0px;
    font-weight: 600;
  }
  &__title {
    cursor: pointer;
  }
  &__stat {
    @include flex(row, flex-start, center);
    margin: 3px 0 0;
  }
  &__count {
    @include flex(row, flex-start, center);
    &.first {
      padding: 0 12px 0 0;
    }
  }
  &__icon {
    padding: 0 4px 0 0;
  }
}

@media (min-width: 280px) {
  .trending {
    transition: ease 0.45s;
    &__card {
      max-width: 280px;
    }
  }
}

@media (min-width: 560px) {
  .trending {
    display: initial;
  }
}