* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
  background-color: var(--bg-primary);
  transition: 0.5s
  a {
    color: var(--primary-color);
    text-decoration: none;
  }
}

.root-container {
  width: 100%;
}

.main-layout {
  display: flex;
}

.main-container {
  width: 100%;
  padding: 0 12px 0 12px;
}

.container {
  margin: auto;
  @include flex(row, center, initial);
  .main-aside {
    display: flex;
    align-items: flex-start;
  }
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.not-found {
  height: 100vh;
  &__inner {
    padding: 4rem 0 0 0;
    width: 80%;
    margin: 0 auto;
    .text {
      padding: 3rem 0 0 0;
    }
  }
}


@media (min-width: 620px) {
  .main-container {
    padding: 0 12px 0 84px;
  }
}