.landingSubHeading {
  font-size: 1.3rem;
  margin-bottom: 5rem;
  @include viewport-size(mobile-phone-small) {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 100px;
  }
  @include viewport-size(standard) {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
}